/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/

body{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; /*Задали шрифт для всего боди*/
}

.wrapper {
	min-height: 100%; /*для того чтобы враппер была на всю высоту экрана*/
	overflow: hidden; /* Все что за пределами блока скрывает */
	display: flex; /* Чтобы все элементы стали в ряд */
	flex-direction: column; /* Элементы выстр в колону */
}

.container{
	max-width: 1180px; /*Максимальная ширина КОНТЕНТА */
	margin: 0px auto; /* Выравнивает наш блочный элемент по цетру */
}

.content {
	flex: 1 1 auto; /* Увеличели контент , чтобы футер прижался в низ */
}

.footer {
	background-color: #f5f5f5;/* Цвет футера */
}

.footer__row {
	display: flex;/* Делаем флекс контэйнер*/
	height: 65px; /* Задаем высоту блока */
	justify-content: center; /*Вырывнить контент по середину горизонтально*/
	align-items: center; /* Чтобы выравнить вертикально по центру*/
}

.footer__text {
	color: #445162; /* Цвет шрифта */
	font-size: 12px; /* Размер шрифта */
	letter-spacing: 0.3px; /* пробелы между буквами */
}

.hi {
	background-color: #445162; /*Цвет блока задает*/
	padding: 50px 0; /*Отступы сверху и снизу 50 по бокам 0*/
}

.hi__row {
	display: flex; /* Чтобы элементы стали в ряд */
	justify-content: space-between; /*Свойство чтобы элементы были раскиданы друг от друга*/
}

.hi__body {
	color: white; /* Цвет шрифта*/
	padding: 0px 30px 0px 0px;
}

.hi__title {
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3); /*тень для надписи*/
	font-size: 60px; /*Размер шрифта*/
	margin: 0px 0px 38px 0px; /*Отступ вниз 38 px*/
}

.hi__list li {
	background: url(../project/icon.png) 0 1px no-repeat; /*Добавление картинки с лева*/
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);/*Теня*/
	font-size: 20px;/*Размер шрифта*/
	line-height: 22px; /*Высота строк между текстами*/
	padding: 0px 0px 0px 36px; /*Отступ от картинки*/
	margin: 0px 0px 15px 0px;/*Отступы вниз*/
}

.hi__list li :last-child {
	margin: 0px;
}

.title {
	color: #445161;
	font-size: 30px;
	line-height: 36px;
}

.what__title {
	margin: 0px 0px 33px 0px; /*Отступ вниз от контента*/
}

.what__row {
	display: flex; /*Элементы стали в ряд*/
}

.what {
	padding: 50px 0px; /*Отступ вниз всего контента от верхнего контента*/
}

.what__image {
	flex: 0 0 430px; /*Запрещается увеличиваться и уменьшаться блоку , и указал ширину 430*/
}

.what__body {
	flex: 1 1 auto; /*Разрешается увеличиваться и уменьшаться*/
	padding: 0px 0px 0px 38px; /*Делаем отступ в лево 38px*/
}

.what__image img {
	max-width: 100%; /*Она не будет больше 430 пиксилей никак*/
}

.what__text p {
	margin: 0px 0px 25px 0px; /*Отступ между параграфами */
	color: #333333; /*Цвет параграфов*/
	font-size: 16px; /*Размер шрифта в нем*/
	line-height: 24px;/*Ростаяния между строчками*/
}

.columns__title {
	text-align: center; /*Заголовок стает в центр*/
	margin: 0px 0px 30px 0px; /*Отступ вниз от контента*/
}

.columns__row {
	display: flex;
	flex-wrap: wrap;
}

.columns__column{
	flex: 0 1 50%; /*Запрещаю колонке увеличиваться , разрешаю уменьшаться и размер 50%*/
}

.columns__item{

}

.item__row {
	display: flex;
}

.item__image {
	flex: 0 0 200px; /*Не увеличивается не уменьшается и размер 200px*/
}

.item__body {
	flex: 1 1 auto; /*Может увеличиваться и уменьшаться*/
	padding: 0px 0px 0px 15px; /* Отступ слева 15px*/
}

.columns {
	background-color: #F5F5F5; /*Задняя заливка белая*/
	padding: 50px 0; /*Верхний и нижний отступ*/
}

.item__text {
	color: #333333;
	font-size: 16px;
	line-height: 24px;
}

.item__title {
	color: #445161;
	font-size: 24px;
	line-height: 30px;
	margin: 0px 0px 13px 0px;
}

